@import '../../styles/utils/colors';
@import '../../styles/utils/breakpoints';

.selectionBox{
    position: relative;
    width: 160px;
    overflow: hidden;
    padding: 8px 8px 20px 8px;
    background-color: white;
    display: inline-block;
    border: solid 1px $elephant-paw;
    border-radius: 5px;
    text-align: center;
    &--image {display: block; width: inherit; padding-bottom: 8px;  }
    &--text {font-size: 1em; font-weight: 600;}
    input { position: absolute; left: 4px;}
  }

  @media (max-width: $mobile) {
    .selectionBox{
     border-radius: 10px;
     padding: 8px 8px 15px 8px;
     border: solid 2px $elephant-paw;
    }
  }