@import '../../styles/utils/colors';
@import '../../styles/utils/mixins';
@import '../../styles/utils/breakpoints';

.learningModule {
    &--header {
        text-align: center;
    }

    &--title {
        margin: 25px 10px;
        color: $morning-sky;
        font-weight: 600;
        font-size: 1.5em;
        
        @media only screen and (max-width: $mobile) {
            margin:10px 16px;
            text-align: left;
        }
    }

    &--subHeader{
        @include subheader;
        min-height: 42px;
   
    @media only screen and (max-width: $mobile) {
        display:none;
    }
}
    &--answerArea {
        background-color: white;
        box-shadow: 0px 0px 20px -15px;
        padding: 0px 0px 20px 0;
        border-radius: 10px;
        display: grid;
        justify-content: center;
        @media only screen and (max-width: $tablet) {
            border-radius: unset;
            background: none;
            box-shadow: none;
        }

        @media only screen and (max-width: $mobile) {
            background: none;
        }

    }

    &--selections{ 
        padding: 30px 0;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 10px;
        @media only screen and (max-width: $tablet) {
            grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
      grid-auto-flow: row;
        }

        // @media only screen and (max-width: $mobile) {
        //     display: flex;
        //     flex-wrap: wrap;
        //     align-content: center;
        //     justify-content: center;
        //     background-color: none;
        //     gap:15px;
        // }
    }

    &--submitButtonContainer {
        height: 50px;
        .submitButton {
            float: right;
        }

        @media only screen and (max-width: $mobile) {
            width: 100%;
            display: flex;
            margin-top:auto;
            .submitButton {
                flex:1;
                margin: 0px 20px;
                
            }
        }
        
    }
}
